mixin article(type, title, date, link, contents, path)
  - var className = [type, link && "link"]
  - var isPage = type === "page"
  article(class=className)
    header
      unless isPage
        ul.meta.inline-list
          li
            a(href="/" + path, rel="bookmark", title="Permalink")
              time(datetime=date)= date.format("ll")
      h1
        if isPage
          = title
        else
          a(href=(link || "/" + path))= title
    .entry!= contents
