:root {
  color-scheme: light dark;
  --bgColor: hsl(0, 0%, 100%);
  --bodyColor: hsla(0, 0%, 0%, .8);
  --infoColor: hsla(0, 0%, 0%, .44);
  --borderColor: hsla(0, 0%, 0%, .1);
  --linkColor: hsl(0, 0%, 0%);
  --logoColor: hsl(16, 92%, 41%);
  --shadeColor: hsl(16, 92%, 33%);
  --hoverColor: hsl(34, 82%, 54%);
  --heartColor: hsl(0, 100%, 36%);
  --bodyFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --codeFontStack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: hsl(0, 0%, 12%);
    --bodyColor:hsla(0, 0%, 100%, .8);
    --infoColor:hsla(0, 0%, 100%, .44);
    --borderColor:hsla(0, 0%, 100%, .1);
    --linkColor: hsl(0, 0%, 100%);
  }
}

* {box-sizing: border-box}
html, input, textarea {background: var(--bgColor); color: var(--bodyColor); font: 100%/1.5 var(--bodyFontStack)}
body {font-size: clamp(100%, 2.5vw, 150%); margin: 0 auto; max-width: 40em; padding-inline: 2em}
ul, ol {padding: 0}
sub, sup {font-size: 75%; line-height: 0}
input, textarea {border: 0; border-block-end: 1px solid var(--linkColor); font-size: 1em}
fieldset {border: 0; margin: 0; padding: 0}
pre, code {font-family: var(--codeFontStack); hyphens: none; overflow-wrap: break-word; text-align: initial; width: 100%}
pre {margin-inline: -2em; width: auto; white-space: pre-wrap}
pre > code {display: block; padding: 1em 2em}
:not(pre) > code {background: var(--borderColor); padding: .1em .2em}
iframe {border: 0}
img {max-width: 100%}
a {color: var(--linkColor); font-weight: 500; text-decoration: none; transition: color 0.2s}
a:hover, a:active {color: var(--hoverColor); outline: 0}
p {margin: 1em 0}
p img {display: block; margin: 0 auto}

hr {border: 0; border-block-start: 2px solid var(--borderColor); height: 0}

h1, h2, h3, h4, h5, h6 {line-height: 1.2; margin: 1.6em 0 0.4em}
h1 {font-size: 2.441em}
h2 {font-size: 1.953em}
h3 {font-size: 1.563em}
h4 {font-size: 1.25em}
h5 {font-size: 1em}
h6 {font-size: 0.8em}

blockquote {border-inline-start: 4px solid var(--borderColor); margin: 1em 0 1em -1em; padding-inline-start: calc(1em - 4px)}
blockquote p {font-style: italic}
blockquote cite {color: var(--infoColor)}
blockquote cite:before {content: " — "}
.pullquote {border: 0; margin: 1.2em 2.4em}
.pullquote:before {content: "“"; float: left; font-size: 3.6em; line-height: 1; margin: -0.2em 0 0 -0.4em}
.pullquote p {font-size: 1.2em; text-align: center}
.pullquote footer {text-align: end}

figure {margin: 1em -3em; text-align: center}
.video-container {box-shadow: 0 1em 4em rgba(0, 0, 0, 0.4); text-align: inherit}

main {border-block-end: 2px solid var(--borderColor); padding-block: 4em}
header :is(h1, h2, h3, h4, h5, h6) {margin-block-start: 0}
header :is(h1, h2, h3, h4, h5, h6) a {font-weight: inherit}
.link header h1:after {color: var(--infoColor); content:"\00A0→"}
.meta a {color: var(--infoColor); font-weight: inherit}
.meta a:hover {text-decoration: underline}
.meta, .date, .footnotes, figcaption, nav, footer[role="contentinfo"] {color: var(--infoColor); font-size: 0.8em; margin: 0; text-align: center}
.meta, .date, .footnotes {text-align: inherit}
.footnotes {border-block-start: 2px solid var(--borderColor)}
.disclaimer {background: var(--borderColor); font-style: italic; margin: 1em -2em; padding: 1em 2em}
.unstyled-list {list-style: none}
.sr-only {border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px}

.archive-item {display: table; margin-block-end: 0.4em; table-layout: fixed}
.archive-item :first-child {display: table-cell; padding-inline-end: 0.8em; text-align: end; width: 6em}
.archive-item :last-child {display: table-cell; text-decoration: none}

@media screen and (max-width: 70em) {
  figure {margin-inline: -2em}
  .video-container {box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.2)}
}
