---
import Post from '../components/Post.astro'
import Base from '../layouts/Base.astro'
import pkg from '../../package.json'
import type { Post as PostType } from '../posts'
import { fetchPosts } from '../posts'

export interface Props {
  post: PostType
}

export async function getStaticPaths({ rss }) {
  const posts = await fetchPosts(Astro.glob('../posts/*.md'))

  rss({
    title: pkg.name,
    description: pkg.description,
    items: posts.slice(0, 20).map(post => ({
      title: [post.title, post.link && '→'].filter(Boolean).join(' '),
      description: [post.html, post.link && `<p><a href="${new URL(post.slug, Astro.site)}" rel="bookmark">∞ Permalink</a></p>`].filter(Boolean).join('\n'),
      link: post.link ?? post.slug,
      pubDate: post.date,
    }))
  })

  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props as Props
const { title } = post
---

<Base {title}>
  <Post {post} />
</Base>
