---
import Avatar from '../components/Avatar.astro'
import LatestPosts from '../components/LatestPosts.astro'
import Page from '../components/Page.astro'
import Snoo from '../components/Snoo.astro'
import Base from '../layouts/Base.astro'
import { getPosts } from '../content/config'

const posts = await getPosts()
---

<Base>
  <Page title="Hi, I'm Rafael Bardini">
    <Avatar slot="header" />
    <p>I'm a web developer currently living in the Amsterdam area.</p>
    <p>
      I work at <a href="https://www.redditinc.com/"><Snoo />Reddit</a> as
      a Senior Frontend Engineer, helping empower redditors and build the
      future of online communities.
    </p>
    <p>
      I designed and built <a href="https://carteiro.app/">Carteiro</a>,
      once a popular and highly-rated package tracking app, as well as several
      other <a href="https://github.com/rbardini">open-source projects</a>.
    </p>
  </Page>
  <LatestPosts {posts} />
</Base>
