---
import type { Post } from '../content/config'

export interface Props {
  dateFormat?: string
  post: Post
}

const { dateFormat = 'LLL d', post } = Astro.props
---

<li class="archive-item">
  <time class="date" datetime={post.data.date}>{post.dateTime.toFormat(dateFormat)}</time>
  <a href={`/${post.slug}`}>{post.data.title}</a>
</li>
