<footer role="contentinfo">
  <p>
    Made with <span class="❤">❤</span> by Rafael Bardini
    <br />
    <a href="https://github.com/rbardini/rbardini.com">Source</a> · <a href="/archive">Archive</a> · <a href="/rss.xml">RSS</a>
  </p>
</footer>

<style>
  .❤ {color: var(--heartColor)}
</style>
