---
import { name, author } from '../../package.json'
import '../styles/main.css'

export interface Props {
  title?: string
}

const { title } = Astro.props
---

<meta charset="utf-8" />
<title>{[title, name].filter(Boolean).join(' | ')}</title>
<meta name="author" content={author} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#ca3c08" />
<link rel="me" href="https://fosstodon.org/@rbardini" />
<link rel="alternate" href="/rss.xml"  type="application/rss+xml" title="RSS" />
<link rel="sitemap" href="/sitemap-index.xml" type="application/xml" title="Sitemap" />
<link rel="stylesheet" href="https://unpkg.com/lite-youtube-embed@0.2.0/src/lite-yt-embed.css" />
<script src="https://unpkg.com/lite-youtube-embed@0.2.0/src/lite-yt-embed.js" async></script>
