---
import type { Post } from '../content/config'
import ArchiveCTA from './ArchiveCTA.astro'
import ArchiveItem from './ArchiveItem.astro'

export interface Props {
  offset?: number
  posts: Post[]
  size?: number
}

const { offset = 0, posts, size = 5 } = Astro.props
const latestPosts = posts.slice(offset, offset + size)
---

<aside>
  <header>
    <h2>Latest posts</h2>
  </header>
  <ul class="unstyled-list">
    {latestPosts.map(p => <ArchiveItem dateFormat="LLL yyyy" post={p} />)}
  </ul>
  <ArchiveCTA />
</aside>

<style>
  aside:before {content: "* * *"; color: var(--borderColor); display: block; margin: 2em 0; text-align: center}
</style>