---
import type { Post as PostType } from '../content/config'
import Post from './Post.astro'
import ArchiveItem from './ArchiveItem.astro'

export interface Props {
  offset?: number
  posts: PostType[]
  size?: number
}

const { offset = 0, posts, size = 5 } = Astro.props
const [latestPost, ...restPosts] = posts.slice(offset, offset + size)
---

<aside>
  <header>
    <h2>Latest posts</h2>
  </header>
  <Post post={latestPost!} headerOnly />
  <ul class="unstyled-list">
    {restPosts.map(p => <ArchiveItem dateFormat="LLL yyyy" post={p} />)}
    <li class="archive-item">
      <span class="meta spacer"></span>
      <a href="/archive">All posts →</a>
    </li>
  </ul>
</aside>

<style>
  aside:before {content: "* * *"; color: var(--borderColor); display: block; margin: 2em 0; text-align: center}
</style>
