<svg class="logo" viewBox="0 0 125 125" width="125">
  <title>rbardini.com</title>
  <path d="M52 12v81l20 20V12H52z"></path>
  <path class="shade" d="M73 93h20v20H73zm0-41h20v20H73z"></path>
  <path d="M94 52l.13 61L114 93V72L94 52zM11 73h20v40H11z"></path>
  <path class="shade" d="M11 73h20v20L11 73z"></path>
  <path d="M11 72h40V52H31L11 72z"></path>
</svg>

<style>
  .logo {width: 3.2em}
  .logo path {fill: var(--logoColor); transition: fill 0.2s}
  .logo .shade {fill: var(--shadeColor)}
  .logo:hover path {fill: var(--hoverColor)}
</style>
