---
export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<article class="page">
  <header>
    <h1>{title}</h1>
  </header>
  <div class="entry">
    <slot />
  </div>
</article>
