extends layout.pug
include mixins/article.pug

block title
  title= site.title

block content
  - var posts = collections.posts.slice(0, 5)
  each post in posts
    +article(post.type, post.title, post.date, post.link, post.contents, post.path)
  nav.archive-cta
    a(href="/archive") Browse the archive →
