doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    block title
    meta(name="author", content=site.author )
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#ca3c08")
    meta(name="turbolinks-cache-control", content="no-preview")

    if development
      script(src="http://localhost:35729/livereload.js")
    else
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create','#[=site.trackingId]','auto');ga('send','pageview');
      script(src="https://www.google-analytics.com/analytics.js", async)
    script(src="/js/turbolinks.js", defer)

    link(rel="alternate", href="/rss.xml", type="application/rss+xml", title="RSS")
    link(rel="stylesheet", href="/css/main.min.css")
    link(rel="stylesheet", href="/css/tomorrow-night-eighties.css")

  body
    #content
      header(role="banner")
        h1
          a(href="/", rel="home")
            svg(viewBox="0 0 125 125", width="125", class="logo")
              title= site.title
              path(d="M52 12v81l20 20V12H52z")
              path(d="M73 93h20v20H73zm0-41h20v20H73z", class="shade")
              path(d="M94 52l.13 61L114 93V72L94 52zM11 73h20v40H11z")
              path(d="M11 73h20v20L11 73z", class="shade")
              path(d="M11 72h40V52H31L11 72z")

      main
        block content

      footer(role="contentinfo")
        p.
          Made with #[span(class="❤") ❤] by #[a(href="/about", rel="me")= site.author] #[br]
          #[a(href="https://github.com/rbardini/rbardini.com") Source] · #[a(href="/archive") Archive] · #[a(href="/rss.xml") RSS]
