doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    block title
    meta(name="author", content=site.author )
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#ca3c08")
    meta(name="turbolinks-cache-control", content="no-preview")

    if development
      script(src="http://localhost:35729/livereload.js")
    else
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create','#[=site.trackingId]','auto');ga('send','pageview');
    script(src="/js/turbolinks.js", defer)

    link(rel="alternate", href="/rss.xml", type="application/rss+xml", title="RSS")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700|Alegreya+SC|Open+Sans+Condensed:700")
    link(rel="stylesheet", href="/css/main.min.css")

  body
    #content
      header(role="banner")
        h1
          a(href="/", rel="home")
            svg(viewBox="0 0 125 125", width="125", class="logo")
              title= site.title
              path(d="M52 12v81l20 20V12H52z")
              path(d="M73 93h20v20H73zm0-41h20v20H73z", class="shade")
              path(d="M94 52l.13 61L114 93V72L94 52zM11 73h20v40H11z")
              path(d="M11 73h20v20L11 73z", class="shade")
              path(d="M11 72h40V52H31L11 72z")

      main(role="main")
        block content

      aside(role="complementary")
        p.
          I'm #[a(href="/about", rel="me")= site.author],
          creator of #[a(href="https://carteiro.app/") Carteiro for Android],
          science & technology enthusiast and author of this wonderful journal.

      footer(role="contentinfo")
        p.
          Made with #[span(class="❤") ❤] since 2007 #[br]
          Powered by #[a(href="http://www.metalsmith.io/") Metalsmith] · #[a(href="/archive") Archive] · #[a(href="/rss.xml") RSS]
